body {
	background-color: hsl(0 100% 80%);

	.sass-div {
		color: azure;
		background-color: crimson;
		width: 40%;
		padding: 1rem;
		border-radius: 1rem;
		display: inline-block;
	}

	.img {
		width: 250px;
		height: auto;
	}
}
